html {
  height: 99.999999999999%;
  width: 99.999999999999%;
}
.nav{
  background-color: #4569d3;
  overflow: hidden;
  
} 
.nav a{
  color: #43b187;
  text-decoration: none;
  font-size: 21px;
  padding: 13px 15px;
  text-align: center;
  float: left;
}
.nav a:hover{
  background-color: #9a2d2d;
  color: #2b00ff;
}
.train { 
  background-color: #07ca52;}
.train img{ 
  width: 60%;  
  padding: 15px;  
  margin: 5px 0 22px 0; 
  display: block;
  margin-left: auto;
  margin-right: auto;}
.nav a.right{
  float: right;
  background-color: deeppink;
}
.train h1{
  text-align: center;}
.train h2{
  text-align: center;}
.train h3{
  text-align: center;}
.train h4{
  text-align: center;}
h1{
  text-align: center; 
}
.navigation{
  width: 571px;
  border-top: 3px solid#a34d4d;
  border-bottom: 3px solid#00fad0;
  text-align: center;
  padding: 15px;
  margin: 0px auto;
}
.navigation a{ 
  text-decoration:none;
  color: #fe1010;
  padding: 10px 21px;
}
.navigation li{
  text-decoration: none;
  display: inline;
  margin: 1px 6px;
}
.container {  
    padding: 50px;  
  background-color: #06fe5d; 
}  

input[type=text], textarea {  
  width: 100%;  
  padding: 15px;  
  margin: 5px 0 22px 0;  
  display: inline-block;  
  border: none;  
  background: #c3db0a;  
}  
input[type=text]:focus, input[type=password]:focus {  
  background-color: #00ff4c;  
  outline: none;  
}  
hr {  
  border: 1px solid #a7fa00; 
  margin-bottom: 25px;  
}  
.sub-Button {  
  background-color: #00b3ff;  
  color: #4c00ff;  
  padding: 16px 20px;  
  margin: 8px 0;  
  border: none;  
  cursor: pointer;  
  width: 100%;  
  opacity: 0.9;  
}  
.sub-Button:hover {  
  opacity: 1;  
}  
.pic img{
  width: 60%;  
  padding: 15px;  
  margin: 5px 0 22px 0; 
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pic p{
  width: 90%;  
  padding: 15px;  
  margin: 5px 0 22px 0; 
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.job{
  width: 90%;  
  padding: 15px;  
  margin: 5px 0 22px 0; 
 background-color: #e1ff00;
}
  .pic{
  background-color: #1fd312;
}